:root {
    --main-color: #F0F0F0;
    --background-color: #1D1D1D;
    --button-background-color: #DEDEDE;
    --button-background-color-hover: #F4F4F4;
    --button-text-color: #333;
    --fill-color: #909090;
    --second-color: #A09CB3;
    --second-color-hover: #ADA8C1;
}